<section ng-show="users.checkLoggedIn()" id="home-logged-in" class="pure-g home">

  <div class="pure-u-md-14-24 pure-u-1 left-col">
    <div class="pure-g">
      <h2 class="pure-u-1">PENDING FRIEND REQUESTS</h2>
      <ul class="pure-u-6-24">
        <li>From:</li>
      </ul>
      <ul class="pure-u-18-24">
        <li>Confirmation:</li>
      </ul>
      <div class="pure-g pending-fr" ng-repeat="request in users.currentUser.pendingRequests">
          <div class="pure-u-6-24"><img class="pending-fr-img" ng-src="{{ request.local.picture }}"></div>
          <div class="pure-u-18-24">
          <span>{{ request.local.username }} wants to be your friend</span>
          <span><button>Approve</button><button ng-click="users.denyRequest(request)">Deny</button><button>Send Message</button></span>
          </div>
      </div>
    </div>
  </div>

  <div class="pure-u-md-10-24 pure-u-1 right-col">
    <h2>What else does a user see when logged in?</h2>
    <h2>COOL NEW PEOPLE</h2>
    <div class="pure-g cool-new-people">
      <div class="pure-u-1-3 cool-new-person" ng-repeat="user in users.all" ng-if="$index < 3">
        <a href="#" ui-sref="profile" ng-click="users.showUser(user)">{{ user.local.username }}</a>
      </div>
    </div>
  </div>
</section>

<section ng-hide="users.checkLoggedIn()" id="home-logged-out" class="pure-g home">

  <div class="pure-u-md-14-24 pure-u-1 left-col">
    <h2>COOL NEW VIDEOS</h2>
  </div>

  <div class="pure-u-md-10-24 pure-u-1 right-col">
    <section id="login">
      <form name="users.loginForm" ng-submit="users.login()" novalidate>

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter your email" ng-model="users.user.email" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password" ng-model="users.user.password" required>

        <button type="submit">Login</button><a href="#" ui-sref="register">Register</a>

      </form>
    </section>

    <h2>COOL NEW PEOPLE</h2>
    <div class="pure-g cool-new-people">
      <div class="pure-u-1-3 cool-new-person" ng-repeat="user in users.all" ng-if="$index < 3">
        <a href="#" ui-sref="profile" ng-click="users.showUser(user)">{{ user.local.username }}</a>
      </div>
    </div>
  </div>

</section>


