<!DOCTYPE html>
<html ng-app="MySpace">
<head>
  <title>MySpace</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-messages.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>

  <script type="text/javascript" src="./js/app.js"></script>

  <script type="text/javascript" src="./js/services/tokenService.js"></script>
  <script type="text/javascript" src="./js/services/authInterceptor.js"></script>
  <script type="text/javascript" src="./js/models/user.js"></script>
  <script type="text/javascript" src="./js/controllers/usersController.js"></script>
  <script type="text/javascript" src="./js/controllers/youtubesController.js"></script>

  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body ng-controller="UsersController as users">
  <header>
    <img src="./css/images/MySpaceLogo.gif">
  </header>
  <div class="top-nav">
    <li ng-show="users.checkLoggedIn()"><a href="#" ng-click="users.logout()">Logout</a></li>
    <li ng-show="users.checkLoggedIn()"><a href="#" ng-click="users.myAccount()">My Account</a></li>
  </div>

  <section id="register" ng-hide="users.checkLoggedIn()">
    <form name="users.registerForm" ng-submit="users.register()" novalidate>

      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" ng-model="users.user.username">

      <label for="fullname">Full name</label>
      <input type="text" name="fullname" placeholder="Fullname" ng-model="users.user.fullname">

      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" ng-model="users.user.email" required>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" ng-model="users.user.password" required>

      <button type="submit">Register</button>
      
    </form>
  </section>

  <section id="login" ng-hide="users.checkLoggedIn()">
    <form name="users.loginForm" ng-submit="users.login()" novalidate>
      
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Enter your email" ng-model="users.user.email" required>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Enter your password" ng-model="users.user.password" required>

      <button type="submit">Login</button>

    </form>
  </section>

</body>
</html>