<section ng-show="users.checkLoggedIn()" id="profile" class="pure-g">
  <!-- <h1 ng-show="users.checkLoggedIn()">HELLO  THIS IS THE PROFILE PAGE</h1> -->

  <div class="pure-u-sm-10-24 pure-u-1 left-col">

    <div id="profile-image-status" class="pure-g">
      <div class="pure-u-1 user-name-header">
        <h1 class="user-name">{{ users.user.local.username }}</h1>
      </div>

      <div class="pure-u-10-24 user-image">
        <img ng-src="{{ users.user.local.picture }}">
      </div>

      <div class="pure-u-14-24 user-last-login-views">
        <h3 ng-if="users.user.local.tagline">"{{ users.user.local.tagline }}"</h3>
        <h3>{{ users.user.local.location }}</h3>
        <h3>{{ users.user.local.mood }}</h3>

      </div>
    </div>

    <div ng-show="users.checkCurrentUser(users.user)" class="pure-g update-user-profile">
      <h2 class="pure-u-1 profile-option-button" ng-hide="users.inEditMode"><a href="#" ng-click="users.editMode()">Enter edit mode</a></h2>
      <div class="pure-u-1 interests-display">
        <span class="pure-u-1"><h3 class="interests-heading"> {{ users.user.local.username }}'s Interests </h3></span>
        <form class="pure-g" name="users.editForm" ng-submit="users.editProfile(users.user); users.editMode()" ng-show="users.inEditMode" novalidate>

          <label for="tagline" class="pure-u-10-24">Tagline:</label>
          <div class="pure-u-14-24">
            <input type="text" name="tagline" placeholder="tagline" ng-model="users.user.local.tagline">
          </div>
          <label for="location" class="pure-u-10-24">Location:</label>
          <div class="pure-u-14-24">
            <input type="text" name="location" placeholder="location" ng-model="users.user.local.location">
          </div>
          <label for="mood" class="pure-u-10-24">Mood:</label>
          <div class="pure-u-14-24">
            <input type="text" name="mood" placeholder="mood" ng-model="users.user.local.mood">
          </div>

          <label for="general" class="pure-u-10-24">General</label>
          <div class="pure-u-14-24">
            <textarea type="text" name="general" placeholder="general" ng-model="users.user.local.general"></textarea>
          </div>

          <label for="music" class="pure-u-10-24">Music</label>
          <div class="pure-u-14-24">
            <textarea type="text" name="music" placeholder="music" ng-model="users.user.local.music"></textarea>
          </div>

          <label for="films" class="pure-u-10-24">Films</label>
          <div class="pure-u-14-24">
            <textarea type="text" name="films" placeholder="films" ng-model="users.user.local.films"></textarea>
          </div>

          <label for="television" class="pure-u-10-24">Television</label>
          <div class="pure-u-14-24">
            <textarea type="text" name="television" placeholder="television" ng-model="users.user.local.television"></textarea>
          </div>

          <label for="books" class="pure-u-10-24">Books</label>
          <div class="pure-u-14-24">
            <textarea type="text" name="books" placeholder="books" ng-model="users.user.local.books"></textarea>
          </div>

          <button type="submit">Save Changes</button>

        </form>
        <div class="pure-g general-info" ng-hide="users.inEditMode">
          <div class="pure-u-10-24">
            General
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.general }}
          </div>
          <div class="pure-u-10-24">
            Music
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.music }}
          </div>
          <div class="pure-u-10-24">
            Films
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.films }}
          </div>
          <div class="pure-u-10-24">
            Television
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.television }}
          </div>
          <div class="pure-u-10-24">
            Books
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.books }}
          </div>
        </div>
      </div>
    </div>

    <div ng-hide="users.checkCurrentUser(users.user)" class="pure-g updated-user-profile">
      <h2 class="pure-u-1 profile-option-button" ng-hide="users.checkCurrentUser(users.user)"><a href="#" ng-click="users.sendRequest(users.user)">Add me as a friend</a></h2>
      <div class="pure-u-1 interests-display">
        <span class="pure-u-1"><h3 class="interests-heading"> {{ users.user.local.username }}'s Interests </h3></span>
        <div class="pure-g general-info">
          <div class="pure-u-10-24">
            General
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.general }}
          </div>
          <div class="pure-u-10-24">
            Music
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.music }}
          </div>
          <div class="pure-u-10-24">
            Films
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.films }}
          </div>
          <div class="pure-u-10-24">
            Television
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.television }}
          </div>
          <div class="pure-u-10-24">
            Books
          </div>
          <div class="pure-u-14-24">
            {{ users.user.local.books }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="pure-u-sm-14-24 pure-u-1 right-col">

    <div class="pure-g profile-friends">
      <h2 class="pure-u-1">{{ users.user.local.username }}'s Friend Space</h2>
      <span class="pure-u-1 friends-count">{{ users.user.local.username }} has {{ users.user.friends.length }} friends</span>
      <div class="pure-u-6-24 profile-friend" ng-repeat="friend in users.user.friends">
        <ul>
          <li><a href="#" ng-click="users.showUser(friend)" ui-sref="profile">{{ friend.local.username }}</a></li>
          <li class="user-image"><img ng-src="{{ friend.local.picture }}" ng-click="users.showUser(friend)" ui-sref="profile"></li>
        </ul>
      </div>
    </div>

    <div class="pure-g profile-comments">
      <h2 class="pure-u-1">{{ users.user.local.username }}'s Friends Comments</h2>
      <span class="pure-u-1 comments-count">Displaying {{ users.user.receivedComments.length }} of {{ users.user.receivedComments.length }} comments <a href="#" ng-hide="users.inCommentMode" ng-click="users.showCommentBox()">Add Comment</a></span>
      <form ng-show="users.inCommentMode" class="pure-u-1" name="users.submitComment" ng-submit="users.saveComment(users.user); users.showCommentBox()" novalidate>
        <textarea name="post" rows=4 ng-model="users.currentUser.comment.post" placeholder="Enter Comment"></textarea>
        <button>Submit Comment</button>
      </form>

      <div class="pure-g received-comment" ng-repeat="comment in users.user.receivedComments | orderBy: '-commentDate': reverse">
        <div class="pure-u-4-24 username-picture-comment-column">
          <li>{{ comment.commenterName }}</li>
          <li class="user-image"><img ng-src="{{ comment.commenterPicture }}"></li>
        </div>

        <div class="pure-u-20-24 post-date-comment-column">
          <li>{{ comment.commentDate | date:'medium' }}</li>
          <li>{{ comment.commentPost }}</li>
        </div>
      </div>
    </div>

  </div> 

</section>