<section ng-show="users.checkLoggedIn()" id="profile" class="pure-g">
  <!-- <h1 ng-show="users.checkLoggedIn()">HELLO  THIS IS THE PROFILE PAGE</h1> -->

  <div class="pure-u-md-10-24 pure-u-1 left-col">

    <div id="profile-image-status" class="pure-g">
      <div class="pure-u-1 user-name-header">
        <h1 class="user-name">{{ users.user.local.username }}</h1>
        <span>USERS STATUS</span>
      </div>

      <div class="pure-u-10-24 user-image">
        <img ng-src="{{ users.user.local.picture }}">
      </div>

      <div class="pure-u-14-24 user-last-login-views">
        USER LAST LOGIN AND VIEWS
      </div>
    </div>

    <div class="pure-u-1 user-mood-pics">
      <span>USERS MOOD</span>
      <span><a href="#" ui-sref="album">SEE MY PICS?</a></span>
    </div>

    <div ng-show="users.checkCurrentUser(users.user)" class="pure-u-1 update-user-profile">
      <h2 ng-show="users.checkCurrentUser(users.user)"><a href="#" ng-click="users.sendRequest(users.user)">possible edit mode button here</a></h2>
      <form class="pure-g" name="users.editForm" ng-submit="users.editProfile()" novalidate>

        <label for="general" class="pure-u-10-24">General</label>
        <textarea type="text" class="pure-u-12-24" name="general" placeholder="general" ng-model="users.currentUser.local.general"></textarea>

        <label for="music" class="pure-u-10-24">Music</label>
        <textarea type="text" class="pure-u-12-24" name="music" placeholder="music" ng-model="users.currentUser.local.music"></textarea>

        <label for="films" class="pure-u-10-24">Films</label>
        <textarea type="text" class="pure-u-12-24" name="films" placeholder="films" ng-model="users.currentUser.local.films"></textarea>

        <label for="television" class="pure-u-10-24">Television</label>
        <textarea type="text" class="pure-u-12-24" name="television" placeholder="television" ng-model="users.currentUser.local.television"></textarea>

        <label for="books" class="pure-u-10-24">Books</label>
        <textarea type="text" class="pure-u-12-24" name="books" placeholder="books" ng-model="users.currentUser.local.books"></textarea>

        <button type="submit">Save Changes</button>

      </form>
    </div>
    <div ng-model="users.user.local.general">{{ users.user.local.general }}</div>

    <div ng-hide="users.checkCurrentUser(users.user)" class="pure-u-1 view-updated-user-profile">
      <h2 ng-hide="users.checkCurrentUser(users.user)"><a href="#" ng-click="users.sendRequest(users.user)">Add me as a friend</a></h2>
      Here's a thing that isnt a form that will show all the details for the selected user lol
      <div class="pure-u-10-24">
        General
      </div>
      <div class="pure-u-14-24">
        Just general information about meee
      </div>
      <div class="pure-u-10-24">
        Music
      </div>
      <div class="pure-u-14-24">
        TECHNO PUNK GOTH HIPHOP DISCO
        </div>
    </div>

  </div>

  <div class="pure-u-md-14-24 pure-u-1 right-col">
    wordup
    <div class="pure-g profile-friends">
      <h2 class="pure-u-1">{{ users.user.local.username }}'s Friend Space</h2>
      <span class="pure-u-1 friends-count">{{ users.user.local.username }} has {{ users.user.friends.length }} friends</span>
      <div class="pure-u-6-24 profile-friend" ng-repeat="friend in users.user.friends">
        <ul>
          <li><a href="#" ng-click="users.showUser(friend)" ui-sref="profile">{{ friend.local.username }}</a></li>
          <li class="user-image"><img ng-src="{{ friend.local.picture }}" ng-click="users.showUser(friend)" ui-sref="profile"></li>
        </ul>
      </div>

    </div>

    <div class="pure-g profile-comments">
      <h2 class="pure-u-1">{{ users.user.local.username }}'s Friends Comments</h2>
      <span class="pure-u-1 comments-count">Displaying {{ users.user.receivedComments.length }} of {{ users.user.receivedComments.length }} comments</span>
      <form class="pure-u-1" name="users.submitComment" ng-submit="users.saveComment(users.user)" novalidate>
        <textarea name="post" rows=4 ng-model="users.currentUser.comment.post" placeholder="Enter Comment"></textarea>
        <button>Submit Comment</button>
      </form>

      <div class="pure-g received-comment" ng-repeat="comment in users.user.receivedComments | orderBy: '-commentDate': reverse">
        <div class="pure-u-4-24 username-picture-comment-column">
          <li>{{ comment.commenterName }}</li>
          <li class="user-image"><img ng-src="{{ comment.commenterPicture }}"></li>
        </div>

        <div class="pure-u-20-24">
          <li>{{ comment.commentDate | date:'medium' }}</li>
          <li>{{ comment.commentPost }}</li>
        </div>
      </div>
    </div> 

  </section>