<section ng-hide="users.checkLoggedIn()" class="pure-g register">

  <section class="pure-u-14-24 left-col" id="register">
    <div class="pure-g">
      <h2 class="pure-u-1">Register</h2>
      <form name="pure-g register-form" ng-submit="users.register()" novalidate>

        <label for="username" class="pure-u-10-24">Username</label>
        <input type="text" name="username" placeholder="Username" ng-model="users.user.username">

        <label for="fullname">Full name</label>
        <input type="text" name="fullname" placeholder="Fullname" ng-model="users.user.fullname">

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" ng-model="users.user.email" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" ng-model="users.user.password" required>

        <button type="submit">Register</button>

      </form>
    </div>
  </section>



  <div class="pure-u-sm-10-24 pure-u-1 right-col">
    <div class="pure-g">
      <h2 class="pure-u-1">Cool New People</h2>
      <div class="pure-g cool-new-people">
        <div class="pure-u-1-3 cool-new-person" ng-repeat="user in users.all" ng-if="$index < 3">
          <ul>
            <li><a href="#" ui-sref="profile({id: user._id })">{{ user.local.username }}</a></li>
            <li class="user-image"><img ng-src="{{ user.local.picture }}" ui-sref="profile({ id: user._id })"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>