<ng-include src="'/views/partials/_nav.html'"></ng-include>

<h1>A form to edit the user goes here. They should be adding a picture and updating their mood n stuff</h1>

<section id="edit" ng-show="users.checkLoggedIn()">
  <form name="users.editForm" ng-submit="users.editProfile(users.currentUser)" novalidate>

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username" ng-model="users.currentUser.local.username">

    <label for="fullname">Full name</label>
    <input type="text" name="fullname" placeholder="Fullname" ng-model="users.currentUser.local.fullname">

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email" ng-model="users.currentUser.local.email" required>

    <label for="email">Profile Picture</label>
    <input type="text" name="picture" placeholder="Profile Picture" ng-model="users.currentUser.local.picture">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="users.currentUser.local.password" required>

    <button type="submit">Submit</button>

  </form>
</section>