* {
  font-family: Verdana, Geneva, sans-serif !important;
}

body {
  background-color: #EAEAEA;
}

section {
  background-color: white;
}

header {
  background-color: #039;
  height: 90px;
  width: 790px;
  margin: 0 auto;
  padding: 5px;
}

.top-nav {
  background-color: #6698CB;
  height: 13px;
  width: 790px;
  margin: 0 auto;
  padding: 5px;
}

.top-nav li {
  list-style: none;
  float: right;
  padding: 0 5px;
}

li {
  list-style: none;
}

#profile {
  background-color: white;
  width: 800px;
  margin: 0 auto;
}

.profile-option-button {
  text-align: center;
  background-color: #69c;
} 

.profile-option-button a {
  text-align: center;
  /*border: 2px solid white;*/
  color: white;
}

.update-user-profile > * {
  margin: 10px 0 0 0;
}

.updated-user-profile > * {
  margin: 10px 0 0 0;
}

.interests-display {
  border: 2px solid #69c;
}

.interests-display span h3 {
  background-color: #69c;
  padding: 3px 10px;
  color: white;
}

.interests-display form label, .interests-display div {
  box-sizing: border-box;
  background-color: #bcdaf6;
  border: 2px solid white;
}

.interests-display form label {
  color: #0049ac;
}

.general-info div:nth-child(odd) {
  color: #0049ac;
}

.interests-display form label, .interests-display div div {
  padding: 5px;
}

.interests-display form textarea, .interests-display form input {
  width: 96%;
}

.home {
  margin: 0 auto;
  width: 800px;
}

.user-image img {
  width: 100%;
}

h2 {
  padding: 3px 10px;
  color: #fa9128;
  background-color: #ffd4a7;
}

.left-col {
  /*background-color: red;*/
  margin: 10px 0;
}

.right-col {
  /*background-color: cyan;*/
  margin: 10px 0;
}
.left-col > * {
  /*background-color: red;*/
  padding: 0 8px;
}

.right-col > * {
  /*background-color: cyan;*/
  padding: 0 8px;
}

.pending-fr {
  width: 100%;
}

.pending-fr-img {
  width: 100%;
}

.profile-friend ul {
  padding: 5px;
}

/*.profile-comments*/

.received-comment {
  width: 100%;
}