header {
  background-color: #039;
  height: 90px;
  width: 790px;
  margin: 0 auto;
  padding: 5px;
}

.top-nav {
  background-color: #6698CB;
  height: 13px;
  width: 790px;
  margin: 0 auto;
  padding: 5px;
}